.fadeIn {
  animation: fadeIn;
  animation-fill-mode: forwards;
  opacity: 0;
}
.animationZoom {
  transform: scale(0);
  animation: zoom;
  animation-fill-mode: forwards;
}

.slideToLeft {
  animation: slideToLeft 1s;
}

.slideToRight {
  animation: slideToRight 1s;
}

.hidden{
  transition: transform 1.5s ease;
  transform: translateY(-100%);
}

.view{
  animation: view 1.5s ease;
}

.scrollDown{
  transform: translateY(-136px);
}

@keyframes view{
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes zoom {
  to {
    transform: scale(1);
  }
}

@keyframes slideToLeft {
  from {
    opacity: 0;
    transform: translateX(+20%);
  }
  top {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideToRight {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  top {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 680px){
  .fadeIn {
    animation: none;
    opacity: 1;
  }
  .animationZoom {
    transform: scale(1);
    animation: none;
  }

  .slideToLeft {
    animation: none;
  }

  .slideToRight {
    animation: none;
  }
}
