.content-section-1 {
  position: relative;
  height: 14.15rem;
  width: 100%;
  top: 0;
  box-sizing: border-box;
  background-image: url(../images/background_section_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.item-section-1 {
  position: absolute;
  left: 1.95rem;
  width: 3.2rem;
  top: 1.65rem;
  animation-delay: 0.8s;
  animation-duration: 1s;
}

.item-section-1 .icon {
  margin: auto;
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
  background-color: white;
  background-image: url(../images/photo.png);
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: 91%;
  margin-bottom: 0.4rem;
  animation-delay: 0.8s;
  animation-duration: 1s;
}

.item-section-1 .text {
  margin-bottom: 0.05rem;
  font-size: 0.4rem;
  text-align: center;
  animation-delay: 0.8s;
  animation-duration: 1s;
}

.item-section-2 {
  position: absolute;
  left: 5.99rem;
  width: 3.2rem;
  top: 1.6rem;
}

.item-section-2 .icon {
  margin: auto;
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
  background-color: white;
  background-image: url(../images/heart.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 90%;
  margin-bottom: 0.45rem;
  animation-delay: 1.2s;
  animation-duration: 1s;
}

.item-section-2 .text {
  margin-bottom: 0.05rem;
  font-size: 0.4rem;
  text-align: center;
  animation-delay: 1.2s;
  animation-duration: 1s;
}

.item-section-3 {
  position: absolute;
  left: 10.01rem;
  width: 3.2rem;
  top: 1.61rem;
}

.item-section-3 .icon {
  margin: auto;
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
  background-color: white;
  background-image: url(../images/box.png);
  background-repeat: no-repeat;
  background-position: 60% 20%;
  background-size: 2.4rem;
  margin-bottom: 0.35rem;
  animation-delay: 1.6s;
  animation-duration: 1s;
}

.item-section-3 .text {
  margin-bottom: 0.05rem;
  font-size: 0.4rem;
  text-align: center;
  animation-delay: 1.6s;
  animation-duration: 1s;
}

.content-section-1 .text-block {
  position: absolute;
  left: 1.7rem;
  bottom: 1.73rem;
  color: #f73934;
}

.content-section-1 .text-block .first {
  font-family: GothamPro-Medium;
  font-size: 2.15rem;
  letter-spacing: 0.1rem;
}

.content-section-1 .text-block .middle {
  font-family: GothamPro-Light;
  font-size: 1.15rem;
  letter-spacing: 0.1rem;
  line-height: 0.5rem;
}

.content-section-1 .text-block .last {
  font-family: GothamPro-Light;
  font-size: 1.2rem;
  word-spacing: 0.2rem;
}

.content-section-1 .text-block span {
  font-family: GothamPro-Black;
  font-size: 1.9rem;
  letter-spacing: -0.001rem;
}
