.content-section-3 {
  width: 100%;
  height: 15.9rem;
  position: relative;
  overflow: hidden;
}

.content-section-3:hover .content-section-3_image-block_image{
  transition-property: transform;
  transform: scale(1.1);
}

.content-section-3_description-block {
  position: relative;
  width: 50%;
  height: 100%;
  background-image: url(../images/about_block.dbb14942.png);
  background-size: cover;
  z-index: 1;
}

.content-section-3_description-block:after {
  content: "";
  position: absolute;
  top: 4.35rem;
  left: 99%;
  background-image: url(../images/block3-after.png);
  background-size: cover;
  width: 7.5%;
  height: 2.5rem;
}

.content-section-3_image-block {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.content-section-3_image-block_image{
  position: absolute;
  top: -5%;
  bottom: -5%;
  right: -0%;
  left: -6%;
  background-image: url(../images/about_img.3f56954a.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: 10s;
  height: auto;
  width: auto;
}

.content-section-3_description-block_image {
  position: relative;
  top: 2.25rem;
  left: 1.05rem;
  background-image: url(../images/about_block_icons.4102b1d1.png);
  background-size: cover;
  height: 6.7rem;
  width: 5.2rem;
  margin-bottom: 3.1rem;
}

.content-section-3_description-block_title {
  position: absolute;
  left: 7.25rem;
  top: 3.7rem;
  color: white;
  font-size: 0.86rem;
  font-family: GothamPro-Bold;
  letter-spacing: 0.037rem;
  line-height: 1.45rem;
}

.content-section-3_description-block_text {
  margin-left: 2rem;
  font-size: 0.45rem;
  color: white;
  letter-spacing: -0.001rem;
  line-height: 0.64rem;
}

.content-section-3_description-block_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1.95rem;
  top: 12.05rem;
  height: 1.57rem;
  width: 5.53rem;
  background-color: rgba(143, 12, 0, 0.1);
  border: 0.075rem solid white;
  font-family: GothamPro;
  font-size: 0.55rem;
  color: white;
  letter-spacing: 0.04rem;
  box-sizing: border-box;
  transition: background 1s;
  cursor: pointer;
}



.content-section-3_description-block_button:hover {
  background-color: rgba(0, 0, 0, 0.541);
}

@media (max-width: 680px) {
  .content-section-3 {
    height: 79rem;
    width: 100%;
  }

  .content-section-3_description-block{
    width: 100%;
    height: 50.5%;
    background-image: url(../images/about_block_mobile.088df3d6.png);
    background-size: 100% 100%;
  }

  .content-section-3_image-block{
    top: 50.5%;
    left: 0;
    width: 100%;
    height: 49.5%;
    overflow: visible;
  }

  .content-section-3_image-block_image{
    background-image: url(../images/about_img_mobile.7747e5da.jpg);
    background-size: cover;
    background-position: top;
    top: -6.8%;
    bottom: 0%;
    right: -0%;
    left: -0%;
    width: auto;
    height: auto;
    transition: none;
  }
  .content-section-3_description-block:after {
    background-image: none;
  }

  .content-section-3_description-block_title {
    position: absolute;
    left: 4.1rem;
    top: 4.85rem;
    color: white;
    font-size: 2.4rem;
    font-family: GothamPro-Bold;
    line-height: 3.85rem;
    letter-spacing: -0.01rem;
  }

  .content-section-3_description-block_image{
    display: none;
  }

  .content-section-3_description-block_text{
    position: absolute;
    left: 2.2rem;
    top: 15.8rem;
    font-size: 1.5rem;
    color: white;
    letter-spacing: -0.001rem;
    line-height: 2rem;
  }

  .content-section-3_description-block_button {
    left: calc(50% - 6.9rem);
    top: 30rem;
    height: 3.95rem;
    width: 13.8rem;
    border: 0.2rem solid white;
    font-size: 1.4rem;
    letter-spacing: 0.07rem;
  }

  .content-section-3:hover .content-section-3_image-block_image {
    transform: none;
  }
}
