.content-section-2 {
  position: relative;
  width: 100%;
  height: 15.9rem;
}

.content-section-2_pictures-block {
  box-sizing: border-box;
  left: 50%;
  top: 0;
  position: absolute;
  background-color: white;
  width: 50%;
  height: 100%;
  padding: 0.65rem;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.content-section-2_description-block {
  width: 50%;
  height: 100%;
  background-image: url(../images/gallery_block.d7a874af.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.content-section-2_description-block_image {
  position: absolute;
  top: 1.29rem;
  left: 1.65rem;
  height: 4.7rem;
  width: 5.5rem;
  background-image: url(../images/photo_vk.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.content-section-2_description-block_title {
  font-family: GothamPro-Bold;
  position: absolute;
  left: 2.15rem;
  top: 6.1rem;
  letter-spacing: -0.015rem;
  line-height: 1.32rem;
}

.content-section-2_description-block_title_text{
  font-size: 1rem;
}

.content-section-2_description-block_title_text_hashtag {
  font-family: GothamPro;
  background-color: white;
  padding-left: 0.18rem;
  margin-left: -0.18rem;
  color: #f73934;
  font-size: 1rem;
}

.content-section-2_description-block_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1.95rem;
  top: 12.25rem;
  height: 1.57rem;
  width: 5.53rem;
  background-color: rgba(143, 12, 0, 0.1);
  border: 0.075rem solid white;
  font-family: GothamPro;
  font-size: 0.55rem;
  color: white;
  letter-spacing: 0.02rem;
  box-sizing: border-box;
  transition: background 1s;
  cursor: pointer;
}

.content-section-2_description-block_button:hover {
  background-color: rgba(0, 0, 0, 0.541);
}

@media (max-width: 680px) {
  .content-section-2 {
    margin-top: 0.73rem;
    height: 79.8rem;
  }

  .content-section-2_description-block {
    position: relative;
    height: 49.5%;
    width: 100%;
    background-image: url(../images/gallery_block_mobile.231a2475.png);
    background-size: cover;
  }

  .content-section-2_pictures-block {
    top: 49.5%;
    left: 0;
    height: 50.5%;
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
  }

  .content-section-2_description-block_image {
    top: 3.35rem;
    left: 2.9rem;
    height: 14.2rem;
    width: 16rem;
  }

  .content-section-2_description-block_title {
    font-size: 2.7rem;
    left: 4.4rem;
    top: 18.45rem;
    letter-spacing: -0.105rem;
    line-height: 3.45rem;
  }

  .content-section-2_description-block_title_text{
    font-size: 2.7rem;
  }

  .content-section-2_description-block_title_text_hashtag {
    font-family: GothamPro;
    padding: 0 1.2rem 0 0.6rem;
    margin-left: -0.6rem;
    font-size: 2.7rem;
  }

  .content-section-2_description-block_button {
    left: 22.4rem;
    top: 28.5rem;
    height: 3.95rem;
    width: 13.8rem;
    background-color: rgba(143, 12, 0, 0.1);
    border: 0.2rem solid white;
    font-size: 1.4rem;
    color: white;
    letter-spacing: 0.07rem;
    transition: background 1s;
  }
}
