.content-section-4 {
  width: 100%;
  height: 15.94rem;
  position: relative;
}

.content-section-4:hover .content-section-4_image-block_image{
  transition-property: transform;
  transform: scale(1.1);
}

.content-section-4_image-block {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.content-section-4_image-block_image{
  position: absolute;
  background-image: url(../images/lays_img.5f4a68cd.jpg);
  background-size: cover;
  transition-duration: 10s;
  background-repeat: no-repeat;
  top: -0.5%;
  left: -0%;
  bottom: -0%;
  right: -0%;
  height: auto;
  width: auto;
}
.content-section-4_description-block:after {
  content: "";
  position: absolute;
  top: 7.35rem;
  left: -1.15rem;
  background-image: url(../images/block4-before.png);
  background-size: cover;
  width: 1.2rem;
  height: 2.5rem;
}

.content-section-4_description-block {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background-image: url(../images/lays_block.1e4024ad.jpg);
  background-size: 98%;
  background-position: 0% 50%;
}

.content-section-4_description-block_title {
  position: absolute;
  top: 10.5rem;
  left: 50%;
  margin-left: -30%;
  font-family: GothamPro-Bold;
  color: black;
  font-size: 1.5rem;
  letter-spacing: -0.009rem;
}

.content-section-4_description-block_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  margin-left: -17.6%;
  top: 13rem;
  height: 1.57rem;
  width: 5.53rem;
  background-color: rgba(143, 12, 0, 0.1);
  border: 0.075rem solid white;
  font-family: GothamPro;
  font-size: 0.55rem;
  color: white;
  letter-spacing: 0.02rem;
  box-sizing: border-box;
  transition: background 1s;
}

.content-section-4_description-block_button:hover {
  background-color: rgba(0, 0, 0, 0.541);
}

@media (max-width: 680px) {
  .content-section-4 {
    height: 80.5rem;
    width: 100%;
    margin-top: 0.5rem;
  }

  .content-section-4_image-block {
    width: 100%;
    height: 50.3%;
    top: 49.7%;
    overflow: visible;
  }
  .content-section-4:hover .content-section-4_image-block_image{
    transform: none;
  }

  .content-section-4_image-block_image {
    background-image: url(../images/lays_img_mobile.22a44045.jpg);
    height: auto;
    width: auto;
    background-size: cover;
    background-position: top;
    top: -5.6%;
    left: -0%;
    bottom: -0%;
    right: -0%;
  }

  .content-section-4_description-block {
    left: 0;
    width: 100%;
    height: 49.7%;
    background-image: url(../images/lays_block_mobile.823e2bd0\ \(1\).png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .content-section-4_description-block_title {
    margin-left: -28.5%;
    position: absolute;
    top: 24.75rem;
    left: 50%;
    font-family: GothamPro-Bold;
    color: black;
    font-size: 3.8rem;
    letter-spacing: -0.04rem;
  }

  .content-section-4_description-block_button {
    margin-left: 0;
    left: calc(50% - 6.9rem);
    top: 30.6rem;
    height: 3.95rem;
    width: 13.8rem;
    border: 0.2rem solid white;
    font-size: 1.4rem;
    letter-spacing: 0.07rem;
  }
}
