

.content-section-1 {
  position: relative;
  height: 14.55rem;
  width: 100%;
  top: 0;
  background-image: url(../images/background_section_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.content-section-1_item-1 {
  position: absolute;
  left: 2rem;
  width: 3.2rem;
  top: 1.7rem;
}

.content-section-1_item-1_icon {
  margin: auto;
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 50%;
  background-color: white;
  background-image: url(../images/photo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  margin-bottom: 0.4rem;
}

.content-section-1_item-1_text {
  margin-bottom: 0.05rem;
  font-size: 0.4rem;
  text-align: center;
  line-height: 0.5rem;
}

.content-section-1_item-2 {
  position: absolute;
  left: 6.1rem;
  width: 3.2rem;
  top: 1.7rem;
}

.content-section-1_item-2_icon {
  margin: auto;
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 50%;
  background-color: white;
  background-image: url(../images/heart.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  margin-bottom: 0.45rem;
}

.content-section-1_item-2_text {
  line-height: 0.5rem;
  margin-bottom: 0.05rem;
  font-size: 0.4rem;
  text-align: center;
}

.content-section-1_item-3 {
  position: absolute;
  left: 10.3rem;
  width: 3.2rem;
  top: 1.7rem;
}

.content-section-1_item-3_icon {
  margin: auto;
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 50%;
  background-color: white;
  background-image: url(../images/box.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  margin-bottom: 0.35rem;
}



.content-section-1_item-3_text {
  line-height: 0.5rem;
  margin-bottom: 0.05rem;
  font-size: 0.4rem;
  text-align: center;
}

.content-section-1_title {
  position: absolute;
  left: 1.75rem;
  top: 7.56rem;
}

.content-section-1_title_first-string {
  color: #f73934;
  font-family: GothamPro;
  font-size: 2.15rem;
  letter-spacing: 0.145rem;
}

.content-section-1_title_middle-string {
  color: #f73934;
  font-family: GothamPro-Light;
  font-size: 1.17rem;
  letter-spacing: 0.12rem;
  line-height: 0.9rem;
}

.content-section-1_title_last-string {
  color: #f73934;
  font-family: GothamPro-Light;
  font-size: 1.2rem;
  word-spacing: 0.2rem;
  line-height: 1.75rem;
}

.content-section-1_title_last-string span {
  font-family: GothamPro-Black;
  font-size: 1.96rem;
  letter-spacing: 0.001rem;
}

@media (max-width: 680px) {
  .content-section-1 {
    width: 100%;
    height: 78.7rem;
    background-image: url(../images/gallery_1_mobile.eaa754df.jpg);
    background-size: cover;

  }

  .content-section-1_item-1 {
    top: 235px;
    left: 6%;
    width: 33.3%;
  }

  .content-section-1_item-1_icon {
    height: 64px;
    width: 64px;
    background-size: cover;
    background-position: center;
    margin-bottom: 11px;
  }

  .content-section-1_item-1_text {
    font-size: 13px;
    line-height: 14px;
    letter-spacing: -.1px;
  }

  .content-section-1_item-2 {
    top: 235px;
    left: 33.3%;;
    width: 33.3%;
  }

  .content-section-1_item-2_icon {
    height: 64px;
    width: 64px;
    background-size: cover;
    background-position: center;
    margin-bottom: 11px;
  }

  .content-section-1_item-2_text {
    font-size: 13px;
    line-height: 14px;
    letter-spacing: -.1px;
  }

  .content-section-1_item-3 {
    top: 235px;
    left: 60.6%;
    width: 33.3%;
  }

  .content-section-1_item-3_icon {
    height: 64px;
    width: 64px;
    background-size: cover;
    background-position: center;
    margin-bottom: 11px;
  }

  .content-section-1_item-3_text {
    font-size: 13px;
    line-height: 14px;
    letter-spacing: -.1px;
  }

  .content-section-1_title {
    top: 100px;
    left: 50%;
    margin-left: -62px;
    width: 136px;
  }

  .content-section-1_title_first-string {
    font-family: GothamPro;
    margin-left: 0;
    font-size: 44px;
    letter-spacing: 1px;
    color: #d62b2b;
  }

  .content-section-1_title_middle-string {
    font-family: GothamPro-Light;
    font-size: 25px;
    line-height: 24px;
    color: #d62b2b;
    letter-spacing: 1px;
  }

  .content-section-1_title_last-string {
    color: #d62b2b;
    font-family: GothamPro-Light;
    line-height: 29px;
    font-size: 25px;
  }

  .content-section-1_title_last-string span {
    font-family: GothamPro-Black;
    font-size: 37px;
    letter-spacing: 0;
  }
}
