@font-face {
  font-family: GothamPro;
  src: url(./fonts/GothaProReg.7b9a959a.woff) format("woff");
}

@font-face {
  font-family: GothamPro-Medium;
  src: url(./fonts/GothaProMed.b8640793.woff) format("woff");
}

@font-face {
  font-family: GothamPro-Light;
  src: url(./fonts/GothaProLig.717add55.woff) format("woff");
}

@font-face {
  font-family: GothamPro-Black;
  src: url(./fonts/GothaProBla.a8a6cdf1.woff) format("woff");
}

@font-face {
  font-family: GothamPro-Bold;
  src: url(./fonts/GothaProBol.1ffe6b86.woff) format("woff");
}

@import url("./styles/section_1.css") screen;
@import url("./styles/section_2.css") screen;
@import url("./styles/section_3.css") screen;
@import url("./styles/section_4.css") screen;
@import url("./styles/animation.css") screen;
@import url("./styles/footer.css") screen;

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: GothamPro;
}

.content {
  position: relative;
  left: 150px;
  width: calc(100% - 150px);
  background-color: #ffdf01;
}

.hashtag {
  font-family: GothamPro-Medium;
  color: #f73934;
}

html {
  font-size: 55px;
}

@media (max-width: 1848px) {
  html {
    font-size: 54px;
  }
}

@media (max-width: 1816px) {
  html {
    font-size: 53px;
  }
}

@media (max-width: 1784px) {
  html {
    font-size: 52px;
  }
}

@media (max-width: 1752px) {
  html {
    font-size: 51px;
  }
}

@media (max-width: 1720px) {
  html {
    font-size: 50px;
  }
}

@media (max-width: 1688px) {
  html {
    font-size: 49px;
  }
}

@media (max-width: 1656px) {
  html {
    font-size: 48px;
  }
}

@media (max-width: 1624px) {
  html {
    font-size: 47px;
  }
}

@media (max-width: 1592px) {
  html {
    font-size: 46px;
  }
}

@media (max-width: 1560px) {
  html {
    font-size: 45px;
  }
}

@media (max-width: 1528px) {
  html {
    font-size: 44px;
  }
}

@media (max-width: 1496px) {
  html {
    font-size: 43px;
  }
}

@media (max-width: 1464px) {
  html {
    font-size: 42px;
  }
}

@media (max-width: 1432px) {
  html {
    font-size: 41px;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 40px;
  }
}

@media (max-width: 1369px) {
  html {
    font-size: 39px;
  }
}

@media (max-width: 1338px) {
  html {
    font-size: 38px;
  }
}

@media (max-width: 1307px) {
  html {
    font-size: 37px;
  }
}

@media (max-width: 1276px) {
  html {
    font-size: 36px;
  }
}

@media (max-width: 1245px) {
  html {
    font-size: 35px;
  }
}

@media (max-width: 1213px) {
  html {
    font-size: 34px;
  }
}

@media (max-width: 1181px) {
  html {
    font-size: 33px;
  }
}

@media (max-width: 1149px) {
  html {
    font-size: 32px;
  }
}

@media (max-width: 1117px) {
  html {
    font-size: 31px;
  }
}

@media (max-width: 1085px) {
  html {
    font-size: 30px;
  }
}

@media (max-width: 1053px) {
  html {
    font-size: 29px;
  }
}

@media (max-width: 1030px) {
  html {
    font-size: 28px;
  }
}

@media (max-width: 998px) {
  html {
    font-size: 27px;
  }
}

@media (max-width: 966px) {
  html {
    font-size: 26px;
  }
}

@media (max-width: 934px) {
  html {
    font-size: 25px;
  }
}

@media (max-width: 902px) {
  html {
    font-size: 24px;
  }
}

@media (max-width: 870px) {
  html {
    font-size: 23px;
  }
}

@media (max-width: 838px) {
  html {
    font-size: 22px;
  }
}

@media (max-width: 806px) {
  html {
    font-size: 21px;
  }
}

@media (max-width: 774px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 742px) {
  html {
    font-size: 19px;
  }
}

@media (max-width: 710px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 678px) {
  html {
    font-size: 17px;
  }
}

@media (max-width: 646px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 614px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 582px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 518px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 486px) {
  html {
    font-size: 11px;
  }
}

@media (max-width: 454px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 422px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 390px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 680px) {
  .content {
    left: 0;
    background-color: white;
    width: 100%;
  }
}
